{% extends "products/parent.html" %}

{% block title %}
Home
{% endblock %}

{% block body %}

</head>
<body>

<main role="main">

  <div class="container-fluid">
    <div class="form-row">

      {% for video in most_recent_videos %}

      <div class="form-group col-md-3">
        <a href='/video/{{ video.id }}'>
          <img class="bd-placeholder-img card-img-top" width="400" height="350" src="{{video.thumbtail.url}}" alt="My image" class="img-thumbnail">
          <h6 style="margin-top: 7px;margin-left: 15px; ">{{ video.title }}</h6>
          <h6 style="margin-top: 7px;margin-left: 15px; ">{{ video.description }}</h6>
            
          </div>

            {% endfor %}
        </div>
      </div>

</main>
{% endblock %}
