{% extends "products/parent.html" %}

{% block title %}
Video -
{% endblock %}

{% block body %}

<div class="container-fluid">
  <div class="row">
    <div style="margin-top:10px;" class="form-group col-md-9">
        <div class="row" style="margin-left: 5px;margin-right: 5px; ">
      <video class="bd-placeholder-img card-img-top" width="400" height="350" 
                 controls poster="{{video_by_id.thumbtail.url}}"> 
             <source src= "{{video_by_id.filename.url}}" type="video/mp4"> 
              </video>


        <h4 style="margin-top: 7px;margin-left: 15px; ">{{ video_by_id.title }}</h4><br>

      <p style="margin-top: 7px;margin-left: 15px; ">Description  : {{ video_by_id.description }}</p>
      <br>
        </div>
        <div class="row">
<h3>Comments</h3><br>
            </div>

  <div class="row">



      <form>
  <div class="row">
       {% for comment in comments %}
    <div class="col">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="{{ comment.user }}">

    </div>
    <div class="col">
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="posted on: {{ comment.datetime }} <br>
            {{ comment.text }}">

    </div>
      {% endfor %}
  </div>
</form>
</div>
         </div>



        <div class="form-group col-md-3">
             {% for video in most_recent_videos %}
            <div style="margin-top:10px;" class="row">
            <a href='/video/{{ video.id }}'>
            <img style="width:100%; height:225px;" src="{{video.thumbtail.url}}" alt="My image" class="img-thumbnail"></a>
            <h6 style="margin-top: 7px;margin-left: 15px; ">{{ video.title }}</h6>
              
            </div>

              {% endfor %}
        </div>

  </div>
</div>





{% endblock %}
